<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Serve true 404 document
  ErrorDocument 404 /404.html

  # Rewrite for HTML files without extension (e.g. /dashboard -> /dashboard.html)
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}\.html -f
  RewriteRule ^(.*)$ $1.html [L]
</IfModule>
